.navbar{
    display: flex;
    margin: 1em;
}
.nav-items{
    display: flex;
    list-style: none;
   
    line-height: 1em;
    gap:2.5em;
}
.item{
    cursor: pointer;
    font-size: 15px;
    color: var(--White);
}
.navphone{
    display: none;
}
.hamburger{
    display: none;
}

.animate {
    animation-duration: 0.4s;
    animation-name: animate-fade;
    animation-delay: 0.1s;
    animation-fill-mode: backwards;
  }
  
  @keyframes animate-fade {
    0% { opacity: 0; background-color: bisque;}
    25% { opacity: .5; }
    100% { opacity: 1;  }
  }
@media screen and (width < 850px) {
.navbar{
    margin-top: 2em;
    display: flex;
    justify-content: center;
   }
   .nav-items{
    display: none;
   }
   .navphone{
    background-color: var(--White);
    color: var(--Black);
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 2em;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1em;
   
   }
   .item-phone{
    cursor: pointer;
   
   }
   .item-phone:hover{
        background-color: rgb(235, 250, 215);
   }
   .hamburger{
    display: block;
    position: absolute;
    left: 2em;
    cursor: pointer;
    z-index: 99;
}
   
}