@font-face {
  font-family: League Spartan;
  src: url(./asset/fonts/LeagueSpartan-VariableFont_wght.ttf);
}
*{
  box-sizing: border-box;
  margin: 0;

  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
  --league-spartan : league Spartan;
  font-size: 12px;
}
body{
    scroll-behavior: smooth;
    font-family: var(--league-spartan);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
